@import '../styles/_mixins.scss';
@import '../styles/_variables.scss';

.pokemons__pokemon {
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    border-color: $mainAccent;
  }

  .card-title {
    margin-bottom: 0;
    text-align: center;
  }

  @include breakpoint(medium) {
    width: 250px;
    flex: 1 1 auto;
    margin: 5px;

    &:hover {
      .card-title {
        font-size: 1.5rem;
      }
    }

    .card-title {
      line-height: 2rem;
      @include transition(font-size .3s ease);
    }
  }

}
