@import '../../styles/_mixins.scss';

html {
  font-size: 0.8rem;
}
h1.title {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
}

@include breakpoint(medium) {
  html {
    font-size: 1rem;
  }
  h1.title {
    font-size: 2.5rem;

    &--loading {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
